body{
    background-color: #f4f1e8;
    text-align: center;
    margin-top: 7rem;
    padding: 2rem;
}
.name{
    font-family: 'Radley', serif; 
    font-size: 36px;

}
.black-text{
    color: black;
}
.colored-text{
    color:#9b4819 ;
   
}
.tagline{
    color: black;
    font-size:20px;
   font-family: 'Alice', serif;
}

.logo {
   
     width: 80px;    
    height: auto;   
    display: block;
    margin: 0 auto 20px;
}

.btn{
  
    padding: 10px 10px;
    background-color:#7a3414;
    color: white;
    border-radius: 10px;
    border:2px solid #f4f1e8;
    cursor: pointer;
    font-family: 'Radley', serif;
    font-size: 16px;
    transition: all 0.3s ease; 
    text-decoration: none;
    
}
.button-container {
  margin-top: 5rem; 
  text-align: center;  
}
.btn:hover {
    background-color:  #9b4819; 
    transform: scale(1.05);   
}
.navbar {
  background-color: whitesmoke; 
  padding: 15px 40px;
  position: fixed;         
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  justify-content: fles-start;
  align-items: center;
    flex-wrap: wrap;
}

.navbar a {
  color: #9b4819;
  text-decoration: none;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 5px;
}
.navbar a:hover {
  color: #ff9800;
  border-bottom: 2px solid #ff9800;
}
@media (max-width: 600px) {
  .navbar {
    justify-content: center; 
  }
  .navbar a {
    margin: 10px;            
    font-size: 16px;          
  }
}
    




